/* resetPassword.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../Images/base.png');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  margin-bottom: 10px;
  text-align: center;
}

.form-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.form-container input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-container button {
  padding: 12px;
  background-image: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%),
   hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%),
    hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%),
     hsl(192, 100%, 48%), hsl(185, 90%, 48%));
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-image: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%),
   hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%),
    hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%),
     hsl(192, 100%, 48%), hsl(185, 90%, 48%));
}

.form-container a {
  text-align: center;
  margin-top: 15px;
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
}
